

<p *ngIf="!visaDetails">Visa Detail For Employee Id:{{ visaDetails.EmployeeId }}</p>

<table class="table table-striped table-bordered"  *ngIf="visaDetails" >
  <tr><th>Details</th><th>Value</th></tr>
  <tr><td>Employee Id</td><td>{{ visaDetails.EmployeeId }}</td></tr>
  <tr><td>Visa For Country</td><td>{{ visaDetails.CountryName }}</td></tr>
  <tr><td>Visa Issue Date</td><td>{{ visaDetails.VisaIssueDate | date:'longDate' }}</td></tr>
  <tr><td>Visa Expiry Date</td><td>{{ visaDetails.VisaExpiryDate | date:'longDate' }}</td></tr>
  <tr><td>Visa Status</td><td>{{ visaDetails.VisaStatus }}</td></tr>
</table><br />
<div class="form-group">  
  <button class="btn" (click)="cancel()">Back</button>
</div>
  
    
  
