<h1>Welcome to Visa Tracking System!</h1>
<p>Welcome to your new single-page visa application!</p>
<ul>
  <li><strong>End User:</strong> Human Resources Department </li>
  <li><strong>Purpose:</strong> To keep track of the employees visa related details </li>
  <li><strong>Technologies Used:</strong>
            <ul>
              <li> ASP.Net Core</li>
              <li> EF core</li>
              <li> Angularjs 5</li>
              <li> HTML</li>
              <li> TypeScript</li>              
            </ul>
  </li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <strong><em>Visa-Detail</em></strong> on the left side menu to view all the visa records.</li>   
</ul>

<p>The Visa Tracking System is designed extensively for HR personnel for handling visa information about their employees.</p>
<ol type="1">
  <li>View all the Visa Records</li>
  <li>Create a new Visa Record for an employee</li>
  <li>Edit a existing Visa Record with some new values</li>
  <li>Delete an Visa Record </li>
</ol>

